.container {
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    .filmes{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 32px;
    }
    h1{
        margin-bottom: 12px;
        font-size: 24px;
        font-weight: 500;
        font-family: var(--font-dela-gothic);
    }
}